body{
    box-sizing: border-box;
}
.header{
    color: white;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #6900c7;
   
}
.start{
    background-color: #e4ddf7;
    color: #6900c7;
    padding: .5em .5em;
    font-size: .75em;
    font-weight: 400;
}
.form{
    color: #69707a;
}
.footer a{
    color: #69707a;
}
.header::before{
    content: '';
    position: absolute;
    bottom: -50px;
   height: 90px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
}
.marketing{
    position: relative;
    background-color: #edf1f3de;
}
.marketing::before {
    content: '';
    position: absolute;
    height: 70px;
    top: -30px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(
-3deg
);
}
.marketing::after {
    content: '';
    position: absolute;
    height: 140px;
    bottom: -50px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(
-3deg
);

}
.navbar .dropdown-menu {
    min-width: 24rem;
}